

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Chelsea+Market&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&display=swap');
*{
    box-sizing:border-box;
    transition-duration:0.3s;
}
body {
    margin:0;
    padding:0;
}

#text_hb{
    font-size:20px;
    display:inline-block;
    text-align:center;
    float:right;
    padding-top:15px;
    padding-right:15px;
    font-family: 'Chelsea Market', cursive;
    
}
/*Loader code goes here --------------------------*/

.loader_container{
    position:fixed;
    top:0;
    left:0;
    height:100vh;
    width:100vw;
    background-color:black;
    overflow:scroll;
}
.loader_sub{
    height:150px;
    width:150px;
    background-color:transparent;
    margin-top:calc(50vh - 150px);
    margin-left:calc(50vw - 75px);
    position:relative;
}
.loader_sub > div{
    height:5px;
    width:150px;
    position:absolute;
    bottom:0;
    border-radius:50px;
    animation:animate1 1s ease-out infinite;
    background:linear-gradient(90deg, transparent ,#8DF3FF);
    background-repeat:no-repeat;
}
.loader_s > div{
    height:4px !important;
    width:130px !important;
}
#loader_1{
    transform-origin:50% 50%;
    transform:rotate(180deg);
}
#loader_2{
    transform:rotate(-60deg);
    transform-origin:0% 50%;
}
#loader_3{
    transform:rotate(60deg);
    transform-origin:100% 50%;
}

@keyframes animate1{
    0%{
        background-size:0% 100%;
    }
    100%{
        background-size:100% 100%;
    }
    
}
.loader_text{
    height:20px;
    width:100vw;
    background-color:none;
    position:fixed;
    margin-top:50px;
    text-align:center;
    font-size:30px;
    letter-spacing:5px;
}
.loader_text::before{
    color:white;
    content:"Loading";
    animation:animate2 2s infinite;
}

@keyframes animate2{
    0%{
        content:"Loading";
    }
    25%{
        content:"Loading.";
    }
    50%{
        content:"Loading..";
    }
    75%{
        content:"Loading...";
    }
    100%{
        content:"Loading...";
    }
    
}


/*bar code goes here -----------------------------*/

.bar_container{
    height:50px;
    width:100%;
    position:fixed;
    top:0;
    left:0;
    background-color:#ffffff;
    display:none;
}
.bar_container::before{
    content:" ";
    bottom:-10px;
    position:absolute;
    width:100%;
    height:20px;
    background-color:#ffffff;
    border-radius:0 0 50px 50px;
    border-radius:0 0 100% 100%;
    box-shadow:0 6px 4px #d8d8d8;
}
.bar_icon{
    height:50px;
    width:50px;
    background-color:transparent;
    padding-top:15px;
    z-index:0;
    display:inline-block;
    float:left;
}

.bar_icon > div{
    height:2.4px;
    border-radius:10px;
    width:30px;
    background-color:#616161;
    transition-duration:0.5s;
}

#bar_1{
    width:15px;
    margin-left:calc(50% - 10px);
    transform-origin:0% 50%;
    /*transform:rotate(45deg);*/
}
#bar_2{
    width:30px;
    margin:8px auto;
    transform-origin:50% 50%;
    /*transform:rotate(-45deg);*/
}
#bar_3{
    width:15px;
    margin-left:calc(50% - 5px);
    transform-origin:100% 50%;
    /*transform:rotate(45deg);*/
}

.bar_content_container{
    position:fixed;
    height:calc(100vh);
    width:80vw;
    background-color:#f1f5f8;
    top:0px;
    left:-80vw;
    box-shadow:0 3px 5px gray;
    overflow:scroll;
}

.bar_content_container > div{
    margin:30px 5px 30px 5px;
    background-color:none;
    height:30px;
    font-size:20px;
    line-height:30px;
    font-family: 'Anton', sans-serif;
}
.bar_content_container > div:hover{
    background-color:#d3d7da;
}
#bar_content_1{
    width:100%;
    height:200px;
    background-color:#ffffff;
    margin:0px;
    padding-top:30px;
    box-shadow:0 3px 5px gray;
    font-family: 'Open Sans Condensed', sans-serif;
    border-radius:0 0 5px 5px;
}
#bar_content_5{
    font-size:15px;
}
#bd_name{
    width:100%;
    text-align:center;
    font-size:20px;
    margin-top:20px;
    margin-bottom:15px;
}
#bd_image{
    height:100px;
    width:100px;
    border-radius:50%;
    margin:0px auto 10px auto;
    background-color:red;
    background-image:url("https://www.dropbox.com/s/vwongo8l03m5ci1/4c761dd57bf41fde1622cc68d4b167b5.jpg?dl=1");
    background-size:cover;
}
/*content part goes here --------------------*/

#primary{
    position:fixed;
    top:0;
    height:calc(60px);
    width:100%;
    background-color:#e6e6e6;
    left:0;
    display:none;
}
.containt{
    position:fixed;
    top:60px;
    height:calc(100vh - 60px);
    width:100%;
    background-color:blue;
    left:0;
    display:none;
    overflow:scroll;
}
.main_profile{
    height:calc(100vh - 60px);
    width:100%;
    background-color:#e6e6e6;
    margin:0 auto;
    padding-top:15vh;
}
.main_profile > .img{
    display:block;
    height:100px;
    width:100px;
    margin:0 auto 0 auto;
    border-radius:50%;
    background-image:url("https://api.sololearn.com/Uploads/Avatars/16882555.jpg");
    background-size:cover;
}
#profile_name{
    margin:30px auto 10px auto;
    text-align:center;
    font-size:30px;
}
#typewriter_container{
    margin:10px auto;
    text-align:center;
}
#text{
    display:inline;
    font-family: 'Chelsea Market', cursive;
}
#cursor{
    display:inline-block;
    vertical-align:middle;
    width:3px;
    height:18px;
    animation: blink .50s step-end infinite;
    line-height:60%;
    font-size:20px;
} 
@keyframes blink{
    from,to{
        opacity:0;
    }     
    50%{
        opacity:1;
    }
}



/*seprate tamplate codes -------------------------*/


#birthday_cake{
    height:100vh;
    width:100vw;
    position:fixed;
    top:0;
    background-image:url("https://thumbs.gfycat.com/NegativeFineDingo-small.gif");
    left:0;
    display:none;
}
#cut_cake{
    height:25px;
    width:25px;
    top:10px;
    right:10px;
    position:fixed;
    border-radius:50%;
    background-color:lime;
    text-align:center;
    font-size:23px;
}
.ak{
    width:345px;
    height:500px;
} 
.copy{
    margin-top:30px;
    font-size:2px;
    text-align:right;
}

image{
    opacity:0.5;
}
.cover{
    margin-top:570px;
    height:60px;
    width:355px;
    background-color:white;
    position:absolute;
    box-sizing:border-box;
    left:0%;
}
.baloon{
    margin-top:570px;
    width:355px;
    background-color:red;
    text-align:center;
    height:auto;
    left:0%;
    border-bottom:solid;
    border-color:black;
    position:absolute;
}
.baloon > div{
    height:40px;
    width:40px;
    display:inline-block;
    margin:0px 0px 0px 0px;
    transform:rotate(45deg);
    border-radius:20px 20px 2px 20px;
    animation-name:ball;
    animation-iteration-count:infinite;
    animation-duration:10s;
    background-color:red;
}
@keyframes ball{
    from{
        transform:translate(0%,0%) rotate(45deg);
    }
    to{
        transform:translate(0%,-650px) rotate(45deg);
        background-color:blue;
    }
}
.baloon > div:nth-child(1){
    animation-delay:0.5s;
    background-color:red;
}
.baloon > div:nth-child(2){
    animation-delay:3.3s;
    background-color:blue;
}
.baloon > div:nth-child(3){
    animation-delay:2.4s;
    background-color:green;
}
.baloon > div:nth-child(4){
    animation-delay:5.1s;
    background-color:orange;
}
.baloon > div:nth-child(5){
    animation-delay:6.7s;
    background-color:pink;
}
.baloon > div:nth-child(6){
    animation-delay:9.6s;
    background-color:purple;
}
.baloon > div:nth-child(7){
    animation-delay:8.5s;
    background-color:yellow;
}
.baloon > div:nth-child(8){
    animation-delay:4.5s;
    background-color:gray;
}

p{
    font-size:25px;
    font-weight:bold;
    font-family:cursive;
    text-align:center;
    background-color:green;
    margin:0 auto;
    width:200px;
    border-radius:10px;
    animation-name:ak;
    animation-direction:alternate;
    animation-duration:15s;
    animation-iteration-count:infinite;
}
@keyframes ak{
    0%{
        transform:scale(0);
        background-color:red;
        color:white;
    }
    10%{
        transform:scale(1);
        background-color:blue;
        color:pink;
    }
    20%{
        transform:scale(0);
        background-color:green;
        color:red;
    }
    30%{
        transform:scale(1);
        background-color:pink;
        color:purple;
    }
    40%{
        transform:scale(0);
        background-color:yellow;
        color:black;
    }
    50%{
        transform:scale(1);
        background-color:orange;
        color:red;
    }
    60%{
        transform:scale(0);
        background-color:gray;
        color:white;
    }
    70%{
        transform:scale(1);
        background-color:purple;
        color:white;
    }
    80%{
        transform:scale(0);
        background-color:black;
        color:white;
    }
    90%{
        transform:scale(1);
        background-color:red;
        color:blue;
    }
    100%{
        transform:scale(0);
    }
}
/*-------------------------------------------*/
#spin_container{
    height:100vh;
    width:100vw;
    position:fixed;
    top:0;
    background-image:url("https://i.pinimg.com/originals/20/21/7f/20217f7fa2c9701b8128d8fb153a4db9.gif");
    left:0;
    display:none;
}
#cut_spin{
    height:25px;
    width:25px;
    top:10px;
    right:10px;
    position:fixed;
    border-radius:50%;
    background-color:lime;
    text-align:center;
    font-size:23px;
}
#w1 {
    perspective: 800px;
    width:200px;
    height:200px;
}
#w2 {
    position: absolute ;
    width: 200px;
    transform-origin: 100px 100px 0;
    height:200px;
    transform-style: preserve-3d;
    margin-top:calc(50vh - 100px);
    margin-left:calc(50vw - 100px);
    animation: spin 60s ease-in-out infinite ;
}
#w2 > div {
    position: absolute;
    width: 200px;
    height: 200px;
    transform-origin: 100px 100px 0;
    opacity:0.9;
    transition-duration:2s;
    
}
#f1 {
    transform: translateZ(100px);
    box-shadow: 0 0 10px lightgray;
    background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTII_GRn6_aEldP79AgY6qFsjdbdUhNFo-A6A&usqp=CAU");
    background-size:100% 100%;
}
#f2 {
    transform: rotateY(180deg) translateZ(100px);
    box-shadow: 0 0 10px lightgray;
    background-color:chocolate;
    background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQmPNTuT2zsjCgmOCCj8QciHnCIofbefJlhkg&usqp=CAU");
    background-size:100% 100%;
}

#f3 {
    transform: rotateY(-90deg) translateZ(100px);
    box-shadow: 0 0 10px lightgray;
    
    background-color:orange;
    background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRribnlwtzoj_KeypBlgV48Idk7in1HrGeGWg&usqp=CAU");
    background-size:100% 100%;
}

#f4 {
    transform: rotateY(90deg) translateZ(100px);
    box-shadow: 0 0 10px lightgray;
    background-color:violet;
    background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTw5WQxw9z1ip2l9-qkmfSqEdGJ97fYtIBMpA&usqp=CAU");
    background-size:100% 100%;
}
#f5 {
    transform: rotateX(90deg) translateZ(100px);
    box-shadow: 0 0 10px lightgray;
    background-color:green;
    background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSP1CroHGjQ1tlvi8jbNZ3a7y0d8rBZJbmIAw&usqp=CAU");
    background-size:100% 100%;
}

#f6 {
    transform: rotateX(-90deg) translateZ(100px);
    box-shadow: 0 0 10px lightgray;
    background-color:blue;
    background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRtH3nfAedetvWrZxs_1W1gTwPPO9sTd4hQhA&usqp=CAU");
    background-size:100% 100%;
}
@keyframes spin{    
    20% { 
        transform: rotateY(-450deg) rotateX(360deg); 
    }
    40% {
        transform: rotateY(90deg) rotateX(-360deg); 
    }
    60% { 
    transform: rotateY(-360deg) rotateX(450deg); 
    }
    80% { 
    transform: rotateY(360deg) rotateX(-90deg);
    }
}

#aud{
    display:none;
}
